<?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>Fab Lab Wgtn Wiki</ShortName>
  <Image width="16" height="16" type="image/x-icon">https://wiki.fablabwgtn.co.nz/lib/tpl/bootstrap3/images/favicon.ico</Image>
  <Url type="text/html" template="https://wiki.fablabwgtn.co.nz/doku.php?do=search&amp;id={searchTerms}" />
  <Url type="application/x-suggestions+json" template="https://wiki.fablabwgtn.co.nz/lib/exe/ajax.php?call=suggestions&amp;q={searchTerms}" />
</OpenSearchDescription>
